/* Ribbon Style Navigation menu */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  background-image: url(1024,670.jpg);
  -webkit-background-size:cover;
  background-size:cover;
  background-position: center center;
  height: 100vh;
}
.menu-area li a {
  text-decoration: none;
}

.menu-area li {
  list-style-type: none;
}

.custom-padding{
  padding-top: 25px;
}

nav {
  position: relative;
  width: calc(100% - 60px);
  margin: 0 auto;
  padding: 10px 0;
  background: #333;
  z-index: 1;
  text-align: right;
  padding-right: 2%;
}

.logo {
  width: 15%;
  float: left;
  text-transform: uppercase;
  font-size: 25px;
  text-align: left;
  padding-left: 2%;
  color:transparent;
		-webkit-text-stroke:1px #fff;
		background:url(animated-text.png);
		-webkit-background-clip:text;
		background-position:0 0;
		animation:back 20s linear infinite;
}


.menu-area li {
  display: inline-block;
}

.menu-area a {
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  padding: 0 25px;
  font-size: 14px;
  line-height: 30px;
  position: relative;
  z-index: 1;
}
.menu-area a:hover {
  background: tomato;
  color: #fff;
}

.menu-area a:hover:after {
  transform: translateY(-50%) rotate(-35deg);
}

nav:before {
  position: absolute;
  content: '';
  border-top: 10px solid #333;
  border-right: 10px solid #333;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 100%;
  left: 0;
}

nav:after {
  position: absolute;
  content: '';
  border-top: 10px solid #333;
  border-left: 10px solid #333;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 100%;
  right: 0;
}

@keyframes back{
	100%{
		background-position:2000px 0;
	}
}

/*studentDetails.css*/

h1{
	position: absolute;
	left: 10%;
	top: 15%;
}

h3 {
	position: relative;
	left:10%;
	top: 10%;
}

.imageBox {
	position: relative;
    top:20%;
    left:30%;
	width: 20%;
  
}

.photo {
	display: block;
	width: 100%;
	height: auto;
	margin-left:20%;
	margin-top:2%;
	margin-bottom: 2%;
	border: solid;
	border-color: black;
  
}

.detailBox {
	position: absolute;
	bottom: 0;
	left: 122%;
	right: 20%;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #C6C6BE;
	transition: 0.5s;
}


.imageBox:hover .detailBox {
	opacity: 1;
}

.details {
	color: black;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.editor {
	position: absolute;
	top: 300%;
}




